* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*colores alternativos #959FB6 #E04146*/
header {
    background-color: rgb(139, 0, 0);
    color: white;
    text-align: center;
    grid-area: header;
}

header h1 {
    font-size: 4vw;
}

header p {
    font-size: 2vw;
}

nav {
    background-color: #333;
    color: white;
    grid-area: nav;
}

nav ul {
    list-style: none;
    display: flex;
}
main{
    grid-area: main;
    margin: auto;
    width: 90%;
}


aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}