body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

header {
    background-color: rgb(139, 0, 0);
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 3vw;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}
main{
    padding: 20px;
}

form {

}

aside{

}

footer{
    background-color: rgb(139, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}