body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto;
}

header {
    background-color: rgb(139, 0, 0);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagenizquierda {
    margin-right: 20%;
    margin-left: 2%;
}

.titulo{
    text-align: center;
}

header h1 {
    font-size: 3vw;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;;
}

nav ul {
    list-style: none;
    display: flex;
}
main{
    padding: 20px;
}


aside{

}
