* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas:    
    "header header header header"
    "nav nav nav nav"
    "main main main aside "
    "main main main aside"
    "footer footer footer footer";
}

/*colores alternativos #959FB6 #E04146*/
header {
    background-color: rgb(139, 0, 0);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: header;
}

.titulo{
    text-align: center;
}

header h1 {
    font-size: 3vw;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #333;
    color: white;
    grid-area: nav;
}

nav ul {
    list-style: none;
    display: flex;
}
main{
    grid-area: main;
}


aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}