body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* ¿Por qué hay un espacio en blanco sin el padding? */
header {
    background-color: #2486a7;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

main{
    padding: 20px;
}

form {

}

aside{

}

footer{
    
}