
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.parent > div {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
    
.div1 {
    grid-column: span 4 / span 4;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div6 {
    grid-column-start: 4;
    grid-row-start: 3;
}
        