.body1 {
    background: url(/IMAGENES/ICONOS/fondoprueba.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.presentaciondivprincipal {
background-color: white;
width: 30%;
margin-left: 31%;

}

.info1{
    font-style: italic;
    color: white;
    
    
}

.indiadivprincipal {
    width: 15%;
    height: auto;
    margin-top: 25%;
    margin-left: 12%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));
}



.chinadivprincipal {
    width: 15%;
    height: auto;
    margin-top: 25%;
    margin-left: 29%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));

}

.usadivprincipal {
    width: 18%;
    height: auto;
    margin-top: 25%;
    margin-left: 46%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));

}

.indonesiadivprincipal {
    width: 16%;
    height: auto;
    margin-top: 25%;
    margin-left: 66%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));

}

.pakistandivprincipal{
    width: 17%;
    height: auto;
    margin-top: 35%;
    margin-left: 28%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));
}

.españadivprincipal {
    width: 16%;
    height: auto;
    margin-top: 35%;
    margin-left: 47%;
    position: fixed;
    overflow: hidden;
    border-radius: 25%;
    background: linear-gradient(to bottom, rgb(131, 129, 129), rgba(255, 255, 255, 0));
}

.indoseniaprincipal{
        width: 100%;
}


.imgUSApagprincipal{
    width:100%;
}

.imgchinapagprincipal{
    width: 85%;
    margin-left: 10%;
}

.imgindiapagprincipal{
    width: 87%;
    margin-left: 6%;
}

.imgpakistanprincipal{
    width: 80%;
    margin-left: 5px;
}

.imgespañaprincipal {
    width:80% ;
    position: static;
    margin-left: 30px;
}

.slider-fixed {
    position: fixed;
    top: 10%;
    right: 5%;         
    width: 30%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 3%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);  
}

.slider-fixed ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 600%;
    animation: slide 24s infinite linear;
}

.slider-fixed li {
    flex: 0 0 100%;
}

.slider-fixed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
